body {
    margin: 0;
    color: black;
    background-color: #D7C8AD;
    font-family: 'Roboto';
}
html {
  scroll-behavior: smooth;
}

main {

    width: 70%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem ;
}
/*HEADER.................................................*/

#navigation {
    width: 100%;
    margin: 0 auto;
    background-color: #0A0A07;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    text-align: center;
    color: #EBE8CB;


}

nav ul a:hover {
    text-shadow: 2px 2px 2px grey;
}

.active {
    padding-bottom: 4px;
    border-bottom: grey solid 2px;
    text-shadow: 2px 2px 2px white;
}
header h1 {
    text-align: center;
    color: #EBE8CB;
    text-shadow: 2px 2px 2px black;

}


/*MAIN.................................................*/


.categories {
    width: 70%;
    margin: 2% auto;
    background-color: #A98E76;
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.categories ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.categories ul a:hover {
    color: #EBE8CB;

}
article img {
    width: 100%;
    align-content: center;
}
article {
    background-color: #EBE8CB;
    display: flex;
    flex-flow: column;
    padding: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px #C1B49B;

}
@media all and (max-width: 499px) {
    nav ul li:last-of-type a {
        border-bottom: none;
    }
}

@media all and (min-width: 500px) {
    nav ul {
        flex-flow: row;
        align-items: stretch;
        justify-content: space-between;
    }

    nav ul li {
        width: 20%;
    }

    nav ul li a {
        min-height: 100%;
    }
}

@media all and (min-width: 801px) {
    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 0 0 1rem;
    }

    nav ul li:first-child {
        margin-right: auto;
        margin-left: 0;
    }
}

