body {
    margin: 0;
    color: black;
    background-image: url(../imgs/Tramonto_1_1920px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto';
}

html {
    scroll-behavior: smooth;
}

main {
    margin-top: 30%;
}

main section {
    background-color: ;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}
.container {
    margin-top: 25vw;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

h1 {
    font-size: 4em;
    color: #EBE8CB;
    text-shadow: 2px 2px 2px black;
}
h4 {
    font-size: 2em;
    color: #EBE8CB;
    text-shadow: 2px 2px 2px black;

}

h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 10%;
    padding: 0;
    text-align: center;
    color: #EBE8CB;
    text-shadow: 2px 2px 2px #9F7E5F;
    grid-column: 1 / -1;
}

h3 {
    text-transform: uppercase;
    padding: 0;
    font-size: 1em;
}

.shortdescription {
    padding: 0;
    font-size: 0.9em;
}

/*HEADER.................................................*/

#navigation {
    width: 100%;
    margin: 0 auto;
    background-color: #1B130D;
    position: fixed;
    top: 0;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    text-align: center;
    color: #EBE8CB;
}

nav ul a:hover {
    text-shadow: 2px 2px 2px #9F7E5F;
}

.soldout,
.vegetarian,
alcohol {
    display: none;
}


/*MAIN.................................................*/

.btn {
    background-color: #1B130D;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    margin-top: auto;
    transition: 0.3s;
}

.btn:hover {
    background-color: #9F7E5F;
    color: white;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    width: 60%;
    text-align: center;
    background-color: #EBE8CB;
    box-shadow: 5px 5px 5px #3E2B24;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}
.modal-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: justify;
}

.catnav {
    background: black;
    opacity: 0.6;
    display: flex;
    flex-flow: row;
    margin-left: 15%;
    width: 68%;
    top: 6%;
    position: fixed;
    padding: 1rem;
}

.catnav a {
    text-align: center;
    justify-content: space-around;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    /*    color: #1B130D;*/
    color: white;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding: 0;
}

.catnav a:hover {
    text-shadow: 2px 2px 2px #9F7E5F;
}

.price {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.price-full {
    font-size: 1.5em;
    background: white;
    margin: 0;
    padding: 5px;
}

.price-discount {
    font-size: 1.5em;
    color: red;
    text-decoration: line-through;
    margin: 0;
    background: white;
    padding: 5px;
}

.discount {
    display: none;
}

.soldout {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bolder;
    color: red;

}

.vegetarian {
    display: none;
    margin: auto;
    width: 20px;
    height: 20px;

}

.name {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.alcohol {
    display: none;
}

img.pic {
    box-shadow: 3px 3px 4px #3E2B24;
    width: 100%;
    align-content: center;
}

article {
    background-color: #EBE8CB;
    display: flex;
    flex-flow: column;
    padding: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px #3E2B24;

}

.modal-pic {
    width: 70%;
}

@media all and (max-width: 499px) {
    nav ul li:last-of-type a {
        display: flex;
        flex-flow: column;
    }

}

@media all and (min-width: 500px) {
    nav ul {
        flex-flow: row;
        align-items: stretch;
        justify-content: space-between;
    }

    nav ul li {
        width: 20%;
    }

    nav ul li a {
        min-height: 100%;
    }
}

@media all and (max-width: 499px) {
    nav ul li:last-of-type a {
        border-bottom: none;
    }
    .catnav {
        display: flex;
        flex-direction: column;
    }
    main {
        margin-top: 30%;
    }
}

@media all and (min-width: 801px) {
    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 0 0 1rem;
    }

    nav ul li:first-child {
        margin-right: auto;
        margin-left: 0;
    }
    main {
        margin-top: 30%;
    }
}
